<footer class="jumbotron mt-2">
  <div class="text-center text white">
    <div class="container-fluid">
      <div class="row justify-content-center">
  
        <div class="text-center mb-1">
          <a href="#" class="text-white me-4">
            <img
              src="../../../../assets/imgs/footer/facebook.png"
              alt="icon facebook"
            />
          </a>
          <a href="#" class="text-white me-4">
            <img
              src="../../../../assets/imgs/footer/google.png"
              alt="icon google"
            />
          </a>
          <a href="#" class="text-white me-4">
            <img
              src="../../../../assets/imgs/footer/instagram.png"
              alt="icon instagram"
            />
          </a>
          <a href="#" class="text-white me-4">
            <img
              src="../../../../assets/imgs/footer/whatsapp.svg"
              alt="icon whatsapp"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
